.section_main {
  padding: 44px 0 0 69px;
  background-image: url('../images/main/1.png');
  min-height: 100vh;
  background-position: 40%;
  background-size: cover;
}

.section__text {
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
}

.section__title {
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(86, 0, 225, 1);
  margin-top: 139px;
  width: 720px;
}
